{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<style>
.hero{
    text-align:center;
    color:white;
    margin-top:100px;
}

.hero h1{
    font-size:48px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-top:20px;
    font-size:18px;
}

.hero-btn{
    margin-top:30px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ef629f;
    font-weight:bold;
    cursor:pointer;
}
</style>
{% endblock %}

{% block content %}
<div class="hero">
    <h1>ICT12367 SPU</h1>
    <p>ยินดีต้อนรับเข้าสู่เว็บไซต์ตัวอย่าง Django Template Inheritance</p>
    
</div>
{% endblock %}